<div class="md-copyright">
  {% if config.copyright %}
    <div class="md-copyright__highlight">
      <span><a href="https://wikijs.opencode.de/de/Impressum">Open CoDE Impressum</a></span>
      <span><a href="https://wikijs.opencode.de/de/Datenschutz">Open CoDE Datenschutz</a></span>
      <span><a href="https://wikijs.opencode.de/de/Kontakt">Open CoDE Kontakt</a></span>
    </div>
  {% endif %}
</div>
